#custom-scrollbar {
    border: 1px solid #ccc;
    overflow-x: hidden;
    overflow-y: scroll
}

#custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #161616 #ccc;
}

#custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#custom-scrollbar::-webkit-scrollbar-track {
    background: #ccc;
}

#custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #161616;
    border-radius: 10px;
    border: 2px solid #161616;
}

#custom-scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}